body {
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.board {
    gap: 10px;
    display: grid;
    margin-top: 20px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    font-size: 5em;
    cursor: pointer;
    align-items: baseline;
    border: 1px solid #333;
    background-color: #fff;
    justify-content: center;
}

.p {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.cell.x, .px {
    color: #fff;
    background: #666;
}

.cell.o, .po {
    background: #999;
}

.winning-message {
    display: flex;
    margin-top: 20px;
    visibility: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.winning-message.show {
    visibility: visible;
}

button {
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    opacity: .8;
    color: #000;
    background: #999;
}
